<%- include("../partials/header"); %>
<div class="container add-user">
    <input type="file" id="excel-file">
    <form action="/adduser" method="POST">
        <div id="excel-json">

        </div>
    </form>
</div>
<script src="/adduser.js"></script>
<%- include("../partials/footer"); %>